# Données brutes (trop volumineuses pour GitHub)
data/

# Fichiers système macOS
.DS_Store

# Fichiers Python
__pycache__/
*.py[cod]
*.env

# Fichiers IDE
.vscode/
.idea/

# Fichiers temporaires
*.tmp
*.log
